

header {
    /* position: fixed; */
    position: sticky;
    top: 0;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* background-color: var(--tertiary-bg); */
    /* background-color: #000; */
    background-color: var(--header-bg);
    height: 10vh;
    width: 100%;
    z-index: 99;
    /* padding: 0 10px; */
    padding: 0 5%;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.nav_links {
    gap: 20px;
    display: flex;
}

.profile {
    display: flex;
    gap: 10px;
    align-items: center;
}
.profile__pic {
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.cont--main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    min-height: 100vh;
    /* background-color: red; */
}

.sect {
    padding: 20px 4em;
    
}

.logo {
    padding: 0 100% 0 0;
}

.sect--hero, .sect--why, .sect--charts, .sect--pricing {
    display: flex;
}

.sect--hero {
    background: url("../assets/images/backgrounds/blob-scene-1.svg") no-repeat;
    background: url("../assets/images/backgrounds/stacked-waves-3.svg") no-repeat;
    background-size: 100%;
    /* background-clip: content-box; */
    /* background-attachment: fixed; */
    background-position: bottom;
    background-position-y: -50px;
    height: 100vh;
    min-height: 20em;
}

.partners__list {
    display: flex;
    gap: 10px;
}

.sect > .col{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero__text .btn{
    margin-top: 20px;
}

.partners {
    margin-top: 30px;
    align-self: flex-start;
    /* background-color: red; */
    width: 40em;
}

.partners__list {
    margin-top: 30px;
    /* background-color: red; */
    padding: 10px;
    height: 110px;
}

.partners__item {
    min-width: 10px;
    /* border: 1px solid red; */
    /* background-color: #aaa1; */
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%) contrast(0%) brightness(100%);
}

.partners__item img {
    max-width: 100%;
    max-height: 100%;
}

.sect--income_summary {
    /* flex: 8; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    text-align: center;
}

.sect--income_summary h3 {
    align-self: flex-start;
}
.summary {
    width: 80%;
    margin: 10%;
    margin-top: 30px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 5%;
}

.summary__details {
    display: flex;
    justify-content: space-between;
}

.summary__balance .big{
    font-size: 4em;
}

.sect--analytics {
    /* flex: 8; */
    /* height: 30%; */
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.asset_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 50px;
    /* background-color: rgb(41, 139, 41); */
    /* list-style: decimal;
    list-style-position: inside; */
  
    
}

.asset {
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 200ms;
    border-bottom: 1px solid var(--secondary-accent);
}

.asset:hover {
   background-color: rgba(100, 100, 100, 0.1);
}

.asset__icon {
   width: 20px;
   height: 20px;
   background-color: red;
}

.asset::before {
    position: absolute;
    left: -6%;
    content: "1";
}

.graph {
    height: 20em;
    width: 25em;
    background-color: var(--secondary-bg);
}

.sect--pricing .prices{
    flex-direction: row;
    margin-top: 80px;
}

@media only screen and (min-width:992px) and (max-width:1200px) {

}
@media only screen and (min-width:768px) and (max-width:991px) {

}
@media only screen and (min-width:320px) and (max-width:767px) {
    .nav_links {
        display: none;
    }

    header .cta_btns{
        display: none;
    }
    .sect--hero {
        background-size: 300%;
        /* background-position-y: 20px; */
        background-origin: top;
    }

    .sect.sect--hero .col:last-child {
        display: none;
    }

    .sect--why, .sect {
        flex-direction: column;
    }
    .partners {
        width: 100%;
    }

    .widget {
        margin: 30px 0;
    }
}

@media only screen and (min-width:590px) and (max-width:767px) {
    .sect--hero {
        /* background-size: 300%; */
        background-position-y: -120px;
        /* background-origin: top; */
    }
}
@media only screen and (min-width:643px) and (max-width:767px) {
    .sect--hero {
        /* background-size: 300%; */
        background-position-y: -250px;
        /* background-origin: top; */
    }
}